.section {
    background-color: var(--g-color-base-background);
    padding-top: var(--section-padding-top);

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 28px;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    padding-bottom: 12px;
}

.titleText {
    font-size: 40px;
    margin-bottom: 20px;
}

.titleSubText {
    font-size: 16px;
}

.link {
    text-decoration: underline;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: var(--g-shadow-large);
    cursor: pointer;
}