.section{
    margin: var(--section-margin);
}
.wrapper {
    padding: 60px;
    background: linear-gradient(135deg, #005BBB, #80D0FF);
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 66vh;
    overflow: hidden;
}

.buttonWrapper {
    display: flex;
    width: 100px;
    margin-top: 12px;
}

.infoContainer{
    z-index: 2;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
