.wrapper {
    padding: 60px;
    margin-top: 40px;
    background: linear-gradient(135deg, #005BBB, #80D0FF);
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.buttonWrapper {
    display: flex;
    width: 100px;
}

.videoContainer {
    position: relative;
    top:0;
    left:25%;
}