.section {
    padding-top: var(--section-padding-top)
}

.card {
    width: 100%;
    background-color: var(--g-color-base-float);
    border-radius: var(--g-border-radius-l);
    padding: 24px 32px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 12px;
}

.card:hover {
    transform: translateY(-4px);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.allNewsCard {
    margin-top:16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 40px;
}

.titleText{
    font-size: 40px;
}