:root {
  --color-primary: #005BBB;
  /* глубокий синий */
  --color-secondary: #80D0FF;
  /* голубой */
  --color-text: #1a2e5a;
  /* тёмно-синий */
  --color-bg: #ffffff;
  --color-muted: #666666;

  --container-width: 1200px;

  --section-padding: 60px 0;
  --section-padding-top:60px;
  --section-margin: 40px 0;
}

body {
  margin: 0;
  background: var(--g-color-base-background);
  color: var(--g-color-text-primary);
  line-height: 1.6;
  font-family: var(--g-font-family-sans);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 400;
}